body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Calibri','sans-serif';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    max-width: 100%;
}
/* Override form-control */
.form-control
{ 
    width:unset;
}


.form-horizontal .contorl-label-left {
    text-align: left;
}

.col-md-3 {
    width: 25%
}

.col-md-4 {
    width: 33%;
}

.width100{
    width:100%;
}

.navbar 
{
    background-color:white;
}

.StagingBGcolor {
    background-color: yellow;
}

.OldStagingBGColor {
    background-color: red;
}

.DevBGcolor {
    background-color: lightblue;
}

.rightjustify {
    float: right;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: darkgray;
    background-color: #dddddd;
}

.nav > li > a {
    color:darkgray;
}

.dropdown-menu > li > a {
    color: darkgray;
    width:100%;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: darkgray;
    background-color: #dddddd;

}

.container .banner {
    padding-left: 0;
    padding-right: 0;
    margin-left: unset;
    margin-right: unset;
    background-image: url("../Images//OpsMgtSampleNo Hand.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 70%;
    height: 600px;
    opacity: 1;
    margin-bottom: 2em;
    max-width: 100%;
}

.title {
    padding-top: 5%;
    padding-left: 7%;
    font-size: 64px;
    color: blue;
    display: none;
}

.lead {
    font-size: 24px;
    padding-left: 5%;
    color: red;
    display:none;
}

.formborder {
    border-style: solid;
    border-color: grey;
    padding-left:1em;
    padding-bottom:1em;
    padding-top:1em;
}

.bordered {
    border-style: solid;
    /*border-color: green; */
}

.ltbordered {
    border-style: solid;
    border-color: #cccccc;
}

.MainMenu {
    font-weight:700;
}

.ContactPageSpacing 
{
    padding-bottom:30em;
}
.glyphicon-remove{
    color:red;
}

.red {
    color: red; 
}

.bold {
    font-weight: 700;
}

html input[disabled], locked {
    background-color: #e0e0ff;
    cursor: not-allowed;
}

.nocursor {
    background-color: #e0e0ff;
    cursor: not-allowed;
    
}

.input-validation-error {
    border-color: red;
}

.input-validation-error:focus {
    border-color: red;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(255,0,0,0.6);
}


.StyleSheetPartial input {
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.StyleCostSheet {
    font-family: 'Calibri','sans-serif';
    font-weight: 700;
}

.StyleHeader 
{
    border-color:mediumpurple;
}

.StyleRightHeader {
    border-color: #e8e8e8;
    /*border-color:green;*/
    border-style: solid;
    border-width: 1.5px;
    float: right;
    height: 16em;
    padding-left: 0;
    padding-right: 0;
}

.StyleLeftHeader {
    float: left;
    border-color: red;
    height: 16em;
}

.StyleLeftHeader .row, .StyleBodyBoundingBox .row {
    padding-bottom: 15px;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.StyleImage 
{
    border-style:solid;
    /*border-color:red;*/
    border-width:2px;
    height:100%;
}

.StyleLoadBtn {
    opacity: 0.0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    cursor: pointer;
}

.StyleBodyBoundingBox {
    padding-top: .5em;
}

.StyleThumbImage {
    border-style: solid;
    border-width: 1px;

    height: 3em;
}

.StyleSheetPartial ::-ms-input-placeholder {
    color: lightsteelblue;
}

.StyleSheetPartial ::placeholder {
    color: lightsteelblue;
}

.boxfull {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.boxme {
    border-top-style:solid;
    border-width:1px;
    border-left-style:solid;
    border-color:gray;
    margin-bottom: -1px;
}

.boxright {
    border-right-style: solid;
}

.boxbot {
    border-bottom-style:solid;
}

.StyleComponentsRowHeader {
    font-weight: normal;
}

.styleCastings .sslabel {
    padding-left: 5px;
}/*

.StyleLaborsSection {
    //color: blue;
}

.StyleLaborItemsSection {
    //color: red;
}

.HideLabors {
    //display: none;
    //color: lightcoral;
}

.HideLaborItems {
    //display: none;
    //color: lightseagreen;
}
*/
.ssdata {
    font-weight: bold;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.MetalIntroDate {
    padding-top: 2em;
    padding-bottom: .5em;
}

.PricingMeasHead {
    padding-top: 4em;
    padding-bottom: 2em;
    font-weight: 700;
}

.PricingMeas {
    padding-bottom:2em;
}

.PricingMeas .text-center {
    text-align:center;
}

.StyleDelete dd {
    border-color:black;
}

.StyleDeleteRightHeader {
    border-color: #e8e8e8;
    border-style: solid;
    border-width: .5px;
    float: left;
    height: 16em;
    padding-left: 0;
    padding-right: 0;
}

.btn-dctech {
    -webkit-appearance:button;
    -moz-appearance:button;
}

.control-label-align {
    padding-top: 7px;
}

.InvTemplate img
{
    max-height:2em;
    float:left;
    padding-right:1em;
}

#InvSuccess
{
    color:green;
    font-weight:700;
    font-size:1.4em;
}

#InventoryWarnings > .text-warning {
    color:#e2ba75;
}

.ForPrinting {
    font-family: 'Calibri','sans-serif';
    font-weight: 900;
    font-size: 12px;
}

.ForPrinting .StyleLoadBtn {
    cursor: default;
    display: none;
}

.ForPrinting .ltbordered {
    border-style: none;
    border-color: red;
}

.ForPrinting .StyleLoadBtn {
    border-style: solid;
    border-color: red;
}

.ForPrinting .StyleLeftHeader .row, .ForPrinting .StyleBodyBoundingBox .row {
    padding-bottom: 0;
}

.ForPrinting .StyleLeftHeader {
    height: 10em;
}

.ForPrinting .StyleRightHeader {
    height: 10em;
    border-style: none;
}

.ForPrinting .StyleComponentsFooter {
    font-size: 14px;
    font-family: 'Calibri','sans-serif';
}

.ReportCellHighLight {
    background-color:#ffe5cc;
}

#StyleMemoExistingGroup {
    width: 95%;
    border-style: solid;
    border-color: grey;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.StyleComponentsRowHeader 
{
    font-size:larger;
}

.StyleComponentsRowHeaderBtn .btn {
    margin-left: -15px;
}

.StyleComponentsRowHeaderBtn .col-sm-6 {
    padding-left: -15px;
}

.StyleComponentsRowFooter {
    font-size: larger;
    padding-top: .25em;
    padding-bottom: 1em;
}

.StyleComponentsFooter {
    padding-top: .25em;
    font-weight: 700;
}

#StyleMemoReturnGroup {
    padding-top: 1em;
}

.StyleReportHeader {
    padding-top: 2em;
    border-color: cyan;
    width: 100%;
    display: inline-block;
}

.StyleReportHeaderDataColumn {
    width: 60%;
    display: inline-block;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
}

.StyleReportHeaderImageColumn {
    /*display: inline-block;*/
    vertical-align: top;
    max-height: 10em;
    display: inline;
    border-color: thistle;
    border-width: 1px;
}


#StyleReportWeight-Date {
    padding-top: 3em;
}

#StyleReportPricing {
    padding-top: 2em;
    border-color: mediumpurple;
}

.StyleReportComponentsRowHeader {
    font-weight: 700;
    border-color: green;
    font-size:larger;
}

.StyleReportComponentsRow {
    border-color: orange;
}

.badStone {
    border-color: #b94a48; /* text-danger */
    border-width: 2px;
}

.badTotal {
    color: #b94a48; /* text-danger */
}

.AddBtn {
    color:green;
}

.DelBtn {
    color:red;
}
.red {
    color: red;
}

.AssemblyCostsForm label {
    text-align:right;
    display:block;
}

.AssemblyCostFormMetalHeader label {
    text-align:left;
}

.CreateEditStoneRightBoxLabel {
    width:100%;
}

.TableRowContainer {
    margin-bottom:0;
}