body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.formborder {
    border-style: solid;
    border-color: grey;
    padding-left:2em;
    padding-bottom:1em;
}

.red {
    color:red;
}

.bold 
{
    font-weight:700;
}
.ForPrinting
{
    color:darkgreen;
}

.ReportCellHighLight {
    background-color:lightcoral;
}
#StyleReportHeader {
    padding-top: 2em;
}

#StyleReportWeight-Date {
    padding-top: 3em;
}

#StyleReportPricing {
    padding-top: 2em;
}


