body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    max-width: 100%;
}
/* Override form-control */
.form-control
{ 
    width:unset;
}


.form-horizontal .contorl-label-left {
    text-align: left;
}

.col-md-3 {
    width: 25%
}

.col-md-4 {
    width: 33%;
}

.navbar 
{
    background-color:white;
}
.nav > li > a:hover, .nav > li > a:focus {
    color: darkgray;
    background-color: #dddddd;
}

.nav > li > a {
    color:darkgray;
}

.dropdown-menu > li > a {
    color: darkgray;
    width:100%;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: darkgray;
    background-color: #dddddd;

}

.container .banner {
    padding-left: 0;
    padding-right: 0;
    margin-left: unset;
    margin-right: unset;
    background-image: url("../Images/stock-photo-jeweler-measuring-a-ring-with-compass-divider-725600938.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    opacity: 1;
    margin-bottom: 2em;
    max-width: 100%;
}

.title {
    padding-top: 5%;
    padding-left: 7%;
    font-size: 64px;
    color: white;
}

.lead {
    font-size: 24px;
    padding-left: 5%;
    color: white;
}

.formborder {
    border-style: solid;
    border-color: grey;
    padding-left:1em;
    padding-bottom:1em;
    padding-top:1em;
}

.bordered {
    border-style: solid;
    border-color: black;
}

.ltbordered {
    border-style: solid;
    border-color: #cccccc;
}

.glyphicon-remove{
    color:red;
}

.red {
    color: red;
}

.bold {
    font-weight: 700;
}

html input[disabled], locked {
    background-color: #e0e0ff;
    cursor: not-allowed;
}

.StyleHeader 
{
    border-color:mediumpurple;
}

.StyleRightHeader {
    border-color: green;
    float: right;
    height: 15em;
}

.StyleLeftHeader {
    float: left;
    border-color: red;
    height: 16em;
}

.StyleImage 
{
    border-style:solid;
    border-color:black;
    border-width:2px;
    height:100%;
    float:right;
}

.MetalIntroDate {
    padding-top:2em;
    padding-bottom:.5em;
}

.PricingMeasHead {
    padding-top: 4em;
    padding-bottom: 2em;
    font-weight: 700;
}

.PricingMeas {
    padding-bottom:2em;
}

.PricingMeas .text-center {
    text-align:center;
}

.control-label-align {
    padding-top:7px;
}

.InvTemplate img
{
    max-height:2em;
    float:left;
    padding-right:1em;
}

.ForPrinting {
    font-size: 12px;
}

.ReportCellHighLight {
    background-color:#ffe5cc;
}

#StyleMemoExistingGroup {
    width: 95%;
    border-style: solid;
    border-color: grey;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.StyleComponentsRowHeader 
{
    font-size:larger;
}

.StyleComponentsRowHeaderBtn .btn {
    margin-left: -15px;
}

.StyleComponentsRowHeaderBtn .col-sm-6 {
    padding-left: -15px;
}

.StyleComponentsRowFooter {
    font-weight: 700;
    padding-top: .25em;
    padding-bottom: .25em;
}

.StyleComponentsFooter {
    padding-top: .25em;
    font-weight: 700;
}

#StyleMemoReturnGroup {
    padding-top: 1em;
}

.StyleReportHeader {
    padding-top: 2em;
    border-color: cyan;
    width: 100%;
    display: inline-block;
}

.StyleReportHeaderDataColumn {
    width: 60%;
    display: inline-block;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
}

.StyleReportHeaderImageColumn {
    /*display: inline-block;*/
    vertical-align: top;
    max-height: 10em;
    display: inline;
    border-color: thistle;
    border-width: 1px;
}


#StyleReportWeight-Date {
    padding-top: 3em;
}

#StyleReportPricing {
    padding-top: 2em;
    border-color: mediumpurple;
}

.StyleReportComponentsRowHeader {
    font-weight: 700;
    border-color: green;
    font-size:larger;
}

.StyleReportComponentsRow {
    border-color: orange;
}

.AddBtn {
    color:green;
}

.DelBtn {
    color:red;
}
.red {
    color: red;
}

