<li class="nav_item dropdown">
    @Html.ActionLink("Admin", "Index", "Home", new { @class = "dropdown-toggle", @role = "button", @data_toggle = "dropdown", @aria_haspopup = "true", @ariaa_xpanded = "false" })
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @Html.ActionLink("Jewelry Types", "Index", "JewelryTypes")
        <div class="dropdown-divider"></div>
        @Html.ActionLink("Components", "Index", "ComponentTypes")
        <div class="dropdown-divider"></div>
        @Html.ActionLink("Vendors", "Index", "Vendors")
    </div>
</li>
