@*
 Add this line to invoke the popup
<a class="trigger_ojPopup">Click here to show the popup</a>

*@

<div class="ojPopup">
    <span class="helper"></span>
    <div>
        <div id="ojPopUpTContent">Add any HTML content<br />inside the popup box!</div>
    </div>
</div>