@model OJewelry.Models.StyleViewModel

@{
    ViewBag.Title = Model.Style.StyleName + "Cost Sheet";
    Layout = "../Shared/_PrintLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Styles", FormMethod.Post, new {id = "StylePrintForm"}))
{
    <div class="ForPrinting">
        <div class="StyleCostSheet">
            @Html.Partial("_StyleCreateEditPartial", Model)
            <div>
                @Html.Partial("_CostComponentsPartial", Model)
            </div>
        </div>
    </div>
}
