@model OJewelry.Models.MemoViewModel

@{
    ViewBag.Title = "Sell";
}

<!--
    <h2>Sell <i>@Model.style.Name</i></h2> 
-->
<h2> Sell page under construction</h2>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.style.Id }) |
    @Html.ActionLink("Back to Style", "Index", new { CollectionId = ViewBag.CollectionID })
</p>
