/*
This script was created by Visual Studio on 8/14/2018 at 3:19 PM.
Run this script on ojewelry.database.windows.net.OJewelryProdDB (DCTech@ojewelry.database.windows.net) to make it the same as (localdb)\MSSQLLocalDB.OJewelryDB (DCTECHOFFICE\Darry).
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
ALTER TABLE [dbo].[ACL] DROP CONSTRAINT [FK_ACL_ToCompanies]
ALTER TABLE [dbo].[StyleFinding] DROP CONSTRAINT [FK_dbo.StyleFinding_dbo.Findings_FindingId]
ALTER TABLE [dbo].[StyleFinding] DROP CONSTRAINT [FK_dbo.StyleFinding_dbo.Styles_StyleId]
ALTER TABLE [dbo].[Findings] DROP CONSTRAINT [FK_dbo.Findings_dbo.Companies_CompanyId]
ALTER TABLE [dbo].[Findings] DROP CONSTRAINT [FK_dbo.Findings_dbo.Vendors_VendorId]
ALTER TABLE [dbo].[StyleStone] DROP CONSTRAINT [FK_dbo.StyleStone_dbo.Companies_Company_Id]
ALTER TABLE [dbo].[StyleStone] DROP CONSTRAINT [FK_dbo.StyleStone_dbo.Stones_StoneId]
ALTER TABLE [dbo].[StyleStone] DROP CONSTRAINT [FK_dbo.StyleStone_dbo.Styles_StyleId]
ALTER TABLE [dbo].[Stones] DROP CONSTRAINT [FK_dbo.Stones_dbo.Companies_CompanyId]
ALTER TABLE [dbo].[Stones] DROP CONSTRAINT [FK_dbo.Stones_dbo.Shapes_ShapeId]
ALTER TABLE [dbo].[Stones] DROP CONSTRAINT [FK_dbo.Stones_dbo.Vendors_VendorId]
SET IDENTITY_INSERT [dbo].[Stones] ON
INSERT INTO [dbo].[Stones] ([Id], [CompanyId], [VendorId], [Name], [Desc], [CtWt], [StoneSize], [ShapeId], [Price]) VALUES (3002, 1, NULL, N'ALEX - IMT', NULL, NULL, N'2', 2002, 6.5000)
INSERT INTO [dbo].[Stones] ([Id], [CompanyId], [VendorId], [Name], [Desc], [CtWt], [StoneSize], [ShapeId], [Price]) VALUES (3003, 1, NULL, N'ALEX - IMT', NULL, NULL, N'3', 2002, 3.0000)
INSERT INTO [dbo].[Stones] ([Id], [CompanyId], [VendorId], [Name], [Desc], [CtWt], [StoneSize], [ShapeId], [Price]) VALUES (3004, 1, NULL, N'ALEX - IMT', NULL, NULL, N'5', 2003, 130.0000)
SET IDENTITY_INSERT [dbo].[Stones] OFF
SET IDENTITY_INSERT [dbo].[Shapes] ON
INSERT INTO [dbo].[Shapes] ([Id], [Name]) VALUES (2002, N'RND')
INSERT INTO [dbo].[Shapes] ([Id], [Name]) VALUES (2003, N'CUSH')
INSERT INTO [dbo].[Shapes] ([Id], [Name]) VALUES (2004, N'RND CAB')
SET IDENTITY_INSERT [dbo].[Shapes] OFF
SET IDENTITY_INSERT [dbo].[Findings] ON
INSERT INTO [dbo].[Findings] ([Id], [CompanyId], [VendorId], [Name], [Desc], [Price], [Weight]) VALUES (1002, 1, 2006, N'17" CHAIN - SS - W1614D-17', N'17" Chain with SR', 3.2500, 1.3700)
INSERT INTO [dbo].[Findings] ([Id], [CompanyId], [VendorId], [Name], [Desc], [Price], [Weight]) VALUES (1003, 1, 2006, N'17" CHAIN - 14Y - W1230-17', N'17" Chain with SR', 60.0000, NULL)
INSERT INTO [dbo].[Findings] ([Id], [CompanyId], [VendorId], [Name], [Desc], [Price], [Weight]) VALUES (1004, 1, 2006, N'17" CHAIN - 14W - W1614D-17-14W', N'17" Chain with SR', 93.5900, 1.7200)
SET IDENTITY_INSERT [dbo].[Findings] OFF
SET IDENTITY_INSERT [dbo].[Castings] ON
INSERT INTO [dbo].[Castings] ([Id], [Name], [VendorId], [MetalCodeID], [Price], [Labor], [Qty]) VALUES (1, N'Ring', 1, 1, 4.00, 5.00, 41)
INSERT INTO [dbo].[Castings] ([Id], [Name], [VendorId], [MetalCodeID], [Price], [Labor], [Qty]) VALUES (2, N'Chain', 1, 1, 0.50, 0.60, 10)
INSERT INTO [dbo].[Castings] ([Id], [Name], [VendorId], [MetalCodeID], [Price], [Labor], [Qty]) VALUES (2007, N'junkCasting', 1, 1, 1.00, 1.00, 11)
SET IDENTITY_INSERT [dbo].[Castings] OFF
ALTER TABLE [dbo].[AspNetUserLogins]
    ADD CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [dbo].[AspNetUsers] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[AspNetUserClaims]
    ADD CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [dbo].[AspNetUsers] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[ACL]
    ADD CONSTRAINT [FK_ACL_ToCompanies] FOREIGN KEY ([CompanyId]) REFERENCES [dbo].[Companies] ([Id])
ALTER TABLE [dbo].[StyleFinding]
    ADD CONSTRAINT [FK_dbo.StyleFinding_dbo.Findings_FindingId] FOREIGN KEY ([FindingId]) REFERENCES [dbo].[Findings] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[StyleFinding]
    ADD CONSTRAINT [FK_dbo.StyleFinding_dbo.Styles_StyleId] FOREIGN KEY ([StyleId]) REFERENCES [dbo].[Styles] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[Findings]
    ADD CONSTRAINT [FK_dbo.Findings_dbo.Companies_CompanyId] FOREIGN KEY ([CompanyId]) REFERENCES [dbo].[Companies] ([Id])
ALTER TABLE [dbo].[Findings]
    ADD CONSTRAINT [FK_dbo.Findings_dbo.Vendors_VendorId] FOREIGN KEY ([VendorId]) REFERENCES [dbo].[Vendors] ([Id])
ALTER TABLE [dbo].[StyleStone]
    ADD CONSTRAINT [FK_dbo.StyleStone_dbo.Companies_Company_Id] FOREIGN KEY ([Company_Id]) REFERENCES [dbo].[Companies] ([Id])
ALTER TABLE [dbo].[StyleStone]
    ADD CONSTRAINT [FK_dbo.StyleStone_dbo.Stones_StoneId] FOREIGN KEY ([StoneId]) REFERENCES [dbo].[Stones] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[StyleStone]
    ADD CONSTRAINT [FK_dbo.StyleStone_dbo.Styles_StyleId] FOREIGN KEY ([StyleId]) REFERENCES [dbo].[Styles] ([Id]) ON DELETE CASCADE
ALTER TABLE [dbo].[Stones]
    ADD CONSTRAINT [FK_dbo.Stones_dbo.Companies_CompanyId] FOREIGN KEY ([CompanyId]) REFERENCES [dbo].[Companies] ([Id])
ALTER TABLE [dbo].[Stones]
    ADD CONSTRAINT [FK_dbo.Stones_dbo.Shapes_ShapeId] FOREIGN KEY ([ShapeId]) REFERENCES [dbo].[Shapes] ([Id])
ALTER TABLE [dbo].[Stones]
    ADD CONSTRAINT [FK_dbo.Stones_dbo.Vendors_VendorId] FOREIGN KEY ([VendorId]) REFERENCES [dbo].[Vendors] ([Id])
COMMIT TRANSACTION
