@{
    ViewBag.Title = "Release Notes";
}
<h2>@ViewBag.Title</h2>

<ul>
    Pre-release Version
    <li>
        0.51 - Add-Components-to-Style Update
        <ul>
            <li>make html partial for component rows</li>
            <li>add metal dropdown to casting, validations</li>
            <li>Stones &amp; findings should have a dropdown and corresponding data</li>
            <li>Add code to delete component row on style edit/create pages</li>
            <li>add code for new component rows on style edit/create pages</li>
            <li>on adding new row, populate dropdpwns for vendors, metals, stones, findings</li>
        </ul>
        <ul>
            To-dos
            <li>finsh js to compute totals</li>
            <li>handle validations on new rows</li>
        </ul>
    </li>
    <li>
        0.5 - Add-Components-to-Style Update
        <ul>
            <li>Made Style Edit page to spec</li>
            <li>include metal dropdown in Components create/edit for castings|findings</li>
            <li>Manage metals in admin</li>
            <li>Add validation on sylte edit</li>
        </ul>
        <ul>
            To-dos
            <li>add code for new component rows on style edit/create pages, handle metal dropdown on casting, validations</li>
            <li>finsh js to compute totals</li>
        </ul>
    </li>

    <li>
        0.46 - DB Update
        <ul>
            <li>Export Inventory Report to Excel</li>
            <li>Add Notes to Collection</li>
            <li>Need to download location list to Excel</li>
        </ul>
    </li>
    <li>
        0.45 - DB Update
        <ul>
            <li>Add Retail Cost, Units Sold to Style in DB</li>
            <li>Add Notes to Collection in DB</li>
            <li>Sales Ledger Notes 512</li>
            <li>Handle SOLD</li>
            <li>Add Retial price to DB for styles</li>
            <li>Make clients company specific</li>
            <li>Add delete button to Edit pages</li>
            <li>Fix issue where Collection could not be updated on Style page</li>
        </ul>
    </li>

    <li>
        0.4
        <ul>
            <li>Inventory Report</li>
            <li>Add/Move Inventory</li>
            <li>Admin Menu</li>
        </ul>
    </li>
</ul>
<ul>
    Open Issues
    <li>reset components values on dropdown select</li>

</ul>

<ul>
    Next Releases
    <li>0.6 - load components and style components from excel</li>
    <li>0.7 - Images</li>
    <li>0.8 - Securtity</li>
    <li>0.9 - create Ad-hoc components on style edit/create</li> <!-- allow user to create new component on style edit page by addding button next to component dropdown -->
    <li>0.10 - ?</li>
    <li>1.0> - ?</li>
</ul>


