@{
    ViewBag.Title = "Release Notes";
}
<h2>@ViewBag.Title</h2>

<h3>Pre-release Version</h3>
<ul>
    <li>
        <a data-toggle="collapse" href="#v_51b" role="button">0.51b - Bug fixes </a>
        <ul class="collapse" id="v_51b">
            <li>If Collection is blank when importing styles, add the style to a collection with the company name</li>
            <li>If Name is blank when importing styles, copy the style number to the name</li>
        </ul>
        <ul>
            To-dos
            <li>handle moving inventory</li>
            <li>Inventory report - [Style - Qty - Name - Collection - Description - Retail - Locations (RJD - MEGA - CAN)] (add collection)</li>
            <li>handle $ sign in excel files</li>
            <li>format $ amounts properly on style edit page</li>
            <li>Disable editing component fields on style edit page</li>
            <li>Phone/Email not mandatory for vendor</li>
            <li>Add text field to vendor for type</li>
            <li>Add short name to location</li>
            <li>Add addr to company</li>
            <li>Add contact to company/remove client management pages</li>
            <li>Export to Excel on Vendor and Locations List pages</li>
            <li>Integrate changes from 3/1 [Followup from 2.28.18 Meeting - Part 2] (style edit|component edit)</li>
        </ul>
    </li>
    <li>
        <a data-toggle="collapse" href="#v_51a" role="button">0.51a - Bug fixes </a>
        <ul class="collapse" id="v_51a">
            <li>Fix issue where latest version of components page was not updated</li>
            <li>Hide fields for illegal component types</li>
            <li>Add error message when deleting an in-use component</li>
            <li>adjust About</li>
            <li>add images</li>
            <li>adjust menu style</li>
        </ul>
        <ul>
            To-dos
            <li>handle empty collection when adding inventory</li>
            <li>handle moving inventory</li>
            <li>Inventory report - [Style - Qty - Name - Collection - Description - Retail - Locations (RJD - MEGA - CAN)] (add collection)</li>
            <li>handle $ sign in excel files</li>
            <li>format $ amounts properly on style edit page</li>
            <li>Disable editing component fields on style edit page</li>
            <li>Phone/Email not mandatory</li>
            <li>Add text field to vendor for type</li>
            <li>Add short name to location</li>
            <li>Add addr to company</li>
            <li>Add contact to company/remove client</li>
            <li>Export to Excel on Vendor and Locations List pages</li>
            <li>Integrate changes from 3/1 [Followup from 2.28.18 Meeting - Part 2] (style edit|component edit)</li>
        </ul>
    </li>
    <li>
        <a data-toggle="collapse" href="#v_51" role="button">0.51 - Add-Components-to-Style Update</a>
        <ul class="collapse" id="v_51">
            <li>make html partial for component rows</li>
            <li>add metal dropdown to casting, validations</li>
            <li>Stones &amp; findings should have a dropdown and corresponding data</li>
            <li>Add code to delete component row on style edit/create pages</li>
            <li>add code for new component rows on style edit/create pages</li>
            <li>on adding new row, populate dropdpwns for vendors, metals, stones, findings</li>
            <li>handle validations on new rows</li>
            <li>finsh js to compute totals for non-components, subtotals, and totals</li>
            <li>show data for components</li>
            <li>finsh js to compute totals for components</li>
            <li>reset components values on dropdown select</li>
        </ul>
    </li>
    <li>
        <a data-toggle="collapse" href="#v_5" role="button"> 0.5 - Add-Components-to-Style Update </a>
        <ul class="collapse" id="v_5">
            <li>Made Style Edit page to spec</li>
            <li>include metal dropdown in Components create/edit for castings|findings</li>
            <li>Manage metals in admin</li>
            <li>Add validation on sylte edit</li>
            <li>add code for new component rows on style edit/create pages, handle metal dropdown on casting, validations</li>
            <li>finsh js to compute totals</li>
        </ul>
    </li>
    <li>
        <a data-toggle="collapse" href="#v_46" role="button"> 0.46 - Inventory Report Update </a>
        <ul class="collapse" id="v_46">
            <li>Export Inventory Report to Excel</li>
            <li>Add Notes to Collection</li>
            <li>Need to download location list to Excel</li>
        </ul>
    </li>
    <li>
        <a data-toggle="collapse" href="#v_45" role="button"> 0.45 - DB Update</a>
        <ul class="collapse" id="v_45">
            <li>Add Retail Cost, Units Sold to Style in DB</li>
            <li>Add Notes to Collection in DB</li>
            <li>Sales Ledger Notes 512</li>
            <li>Handle SOLD</li>
            <li>Add Retial price to DB for styles</li>
            <li>Make clients company specific</li>
            <li>Add delete button to Edit pages</li>
            <li>Fix issue where Collection could not be updated on Style page</li>
        </ul>
    </li>

    <li>
        <a data-toggle="collapse" href="#v_4" role="button"> 0.4 Inventory Update</a>
        <ul class="collapse" id="v_4">
            <li>Inventory Report</li>
            <li>Add/Move Inventory</li>
            <li>Admin Menu</li>
        </ul>
    </li>
</ul>
<h3>Open Issues</h3>
<ul>
    <li>Handle cases where yellow error page appears</li>
</ul>

<h3>Next Releases - O, please feel free to re-prioritize</h3>
<ul>
    <li>0.6 - load components and style components from excel</li>
    <li>0.65 - Reports</li>
    <li>0.7 - Images</li>
    <li>0.8 - Securtity</li>
    <li>0.9 - create Ad-hoc components on style edit/create</li> <!-- allow user to create new component on style edit page by addding button next to component dropdown -->
    <li>0.10 - ?</li>
    <li>1.0> - ?</li>
</ul>


