@{
    ViewBag.Title = "Release Notes";
}
<h2>@ViewBag.Title</h2>

<ul>Pre-release Version
    <li> 0.4
        <ul>
            <li>Inventory Report</li>
            <li>Add/Move Inventory</li>
            <li>Admin Menu</li>
            <li>Open Issues
                <ul>
                    <li>Handle SOLD</li>
                    <li>Add Retial price to DB for styles</li>
                    <li>Add Notes</li>
                    <li>Make clients company specific</li>
                    <li>Add delete button to Edit pages</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<ul>
    Next Releases
    <li>0.5 - Casting/Components Update</li>
    <li>0.6 - ?</li>
    <li>0.7 - ?</li>
    <li>0.8 - ?</li>
</ul>
