@{
}
<h3>@ViewBag.Message</h3>


<address>
</address>
<address>
    <strong>Technical Support:</strong>   <a href="mailto:Contact@DCTechnologySolutions.com">Technical Support</a><br />
    @*    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
<div class="ContactPageSpacing"></div>
