@{
    ViewBag.Title = "Welcome to OJewelery";
}

<div class="Welcome">
    <h1 class="title">BOSS</h1>
    <p class="lead">Welcome to BOSS - Better Operations & Sales Systems</p>
</div>

<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("Your Companies", "Index", "Companies")
    </div>
</div>