@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OJewelry</h1>
    <p class="lead">Welcome to OJewelry - the platform for designers and sellers.</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Manage Companies", "Index", "Companies")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Manage Clients", "Index", "Clients")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Manage Component Typess", "Index", "ComponentTypes")
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Manage Vendors", "Index", "Vendors")
    </div>
</div>