@{
    ViewBag.Title = "Welcome to OJewelery";
}

<div class="banner">
    <p class="title">OJewelry</p>
    <p class="lead">Welcome to OJewelry - the platform for designers and sellers.</p>
</div>

<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("Your Companies", "Index", "Companies")
    </div>
</div>