@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <p class="title">OJewelry</p>
    <p class="lead">Welcome to OJewelry - the platform for designers and sellers.</p>
</div>

<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("Manage Companies", "Index", "Companies")
    </div>

    <h3>App Settings:[@System.Configuration.ConfigurationManager.AppSettings["OJewelryDB"]]</h3>
    <hr />
    <h3>Conn Str    :[@System.Configuration.ConfigurationManager.ConnectionStrings["OJewelryDB"]]</h3>
</div>