@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="syserr">
    <h2 class="centered">Error!</h2>
    <div class="syserrBox">
        <h3>An error occurred while processing your request.</h3> 
        <p>The error has been recorded and will be diagnosed.</p>
    </div>
</div>


<br />
<br />
